APP_ENV=demo
APP_VERSION=replace-with-git-sha
SERVICE_ROLE=dashboard
LOG_LEVEL=INFO

AZURE_LOCATION=centralindia
AZURE_RESOURCE_GROUP=rg-pearls-aqi-demo
AZURE_CONTAINER_REGISTRY=walpole.azurecr.io

FASTAPI_BASE_URL=https://replace-with-fastapi-url

ARTIFACT_BACKEND=local
LOCAL_ARTIFACT_ROOT=.

MODEL_LOADING_MODE=LOCAL_ARTIFACT
FEATURE_STORE_BACKEND=local
MODEL_REGISTRY_BACKEND=local

AUTOMATIC_RETRAINING_ENABLED=false
AUTOMATIC_MODEL_PROMOTION_ENABLED=false