.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env

data/raw/*
data/processed/*
data/reports/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/reports/.gitkeep
data/training/*
!data/training/.gitkeep
!models/.gitkeep

reports/*
!reports/.gitkeep

models/artifacts/

*.egg-info/
raw datasets
processed datasets
